.photo-grid__item {
    max-width: 100%;
    /*max-height: 213px;*/
}
/*
@media screen and (max-width: 1024px) {
    .photo-grid__item {
        max-width: 300px;    
    }
}

@media (max-width: 768px) {
    .photo-grid__item {
        max-width: 352px;    
    }
}

@media (max-width: 739px) {
    .photo-grid__item {
        max-width: 300px;    
    }
}

@media (max-width: 335px) {
    .photo-grid__item {
        max-width: 288px;    
    }
}*/