.place__url-heading {
    margin: 0;
    padding-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.0;
    letter-spacing: 2px;
    color: #AAAAAA;
}
/*
@media (max-width: 768px) {
    .place__url-heading {
        padding-bottom: 73px;
    }
}*/