.place__website {
    align-self: end;
}

@media (max-width: 355px) {
    .place__website {
        padding-left: 16px;
    }
}

/*@media screen and (max-width: 1024px) {
    .place__website {
        padding-left: 32px;
    }
}

@media (max-width: 768px) {
    .place__website {
        padding-left: 28px;
    }
}

*/